* {
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
    margin: 0;
    font-family: 'Roboto';

}

.header{
    /* border: 1px solid red; */

    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo-box{
    /* border: 1px solid red; */
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.link-box{
    /* border: 1px solid red; */
    /* padding: 10px 10px 10px 10px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link{
    /* border: 1px solid red; */
    font-size: 18px;
    color: #e5e7eb;
    /* padding: 10px 10px 10px 10px; */
    margin: 10px;
}


.intro{
    /* padding: 20px; */
    /* border: 1px solid red; */
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 120px;

}
.hero{
    /* border: 1px solid red; */
    padding: 40px 205px 40px 40px;
}

.hero-main{
    /* border: 1px solid red; */
    /* padding: 10px 10px 10px 10px; */
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    /* border: 1px solid red; */
    /* padding: 1px; */

}
.hero-content{
    font-size: 18px;
    color: #e5e7eb;
    /* border: 1px solid red; */

}

.img-box{
    font-size: 18px;
    color: #e5e7eb;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 143px 180px 144px 180px;
    background-color: rgb(100%, 100%, 100%, 0.4)
    /* opacity: 0.2; */
    

}

.signup{
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    margin: 10px 0 0 0;
    color: #F9FAF8;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

}

.illustration-cntnr{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: 0 0 60px 0;

}

.illustration-img {
    border: 4px solid #3882f6;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin: 10px;

}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.illustration{
    /* border: 1px solid red; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 15px;
    font-weight: lighter;
}

.quote-box{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 70px;

}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    /* border: 1px solid red; */
    padding: 25px 25px 10px 25px;
}

.author{
    font-weight: bolder;
    /* border: 1px solid red; */
    padding: 0 0 0 643px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

.action-box{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color:#F9FAF8;

}

.action{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    font-size: 20px;
    color: #F9FAF8;
    border-radius: 7px;


}
.action-text{
    margin: 50px 120px 50px 140px;
}
.action-btn{
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    margin: 30px 90px 30px 140px;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 7px;
}
.action-title{
    font-size: 28px;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}